.flex{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    padding-right: 5%;
    width:210px;
    padding-bottom: 20px;
}
.flex img{
    width: 210px;
    height: 260px;
}

.Icon--share_24{
    float:left;
    padding-right: 5px;
}